<h4 class="book-title">
  <%= @book.title %>
</h4>

<h4 class="book-body">
  <%= @book.body %>
</h4>

<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "destroy", book_path(@book), method: :delete %>